@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

.visible {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.none_scroll {
  overflow: hidden;
}

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */
.header {
  display: grid;
  grid-template-columns: repeat(1, minmax(320px, 1250px));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  position: fixed;
  background: #FFFFFF;
}
.header .header__wrap {
  margin: 0 20px;
  display: grid;
  grid-template-columns: 20% 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__logo {
  height: 85%;
}
.header__item {
  font-size: 16px;
  color: #58595B;
}
.header__item_active, .header__item:hover {
  color: #E04E39;
}
.header__button {
  font-size: 14px;
}
.header__button_active {
  width: 170px;
  height: 50px;
  background: #E04E39;
  text-decoration: none;
  border: 1px solid #E04E39;
  border-radius: 5px;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__button_active:hover {
  background: #FFFFFF;
  border-color: #FFFFFF;
  color: #E04E39;
  border-color: #E04E39;
}
.header__button_active::before {
  display: block;
  content: url("../img/hash.svg");
  margin: 5px 10px 0 0;
}
.header__button:last-child {
  width: 170px;
  height: 50px;
  background: #FFFFFF;
  text-decoration: none;
  border: 1px solid #58595B;
  border-radius: 5px;
  color: #58595B;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__button:last-child:hover {
  background: #58595B;
  border-color: #58595B;
  color: #FFFFFF;
  border-color: #FFFFFF;
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */
/* ---------------------------- min-width: 910px ---------------------------- */
@media screen and (min-width: 910px) {
  .header__wrap {
    height: 100px;
  }
  .header__sidebar {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__menu {
    width: 400px;
  }
  .header__menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__buttons {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__buttons .header__button {
    margin-left: 20px;
  }
  .header__toggle {
    display: none;
  }
}
/* ---------------------------- max-width: 909px ---------------------------- */
@media screen and (max-width: 909px) {
  .header {
    border: 2px solid #F2F2F2;
  }
  .header__wrap {
    height: 70px;
  }
  .header__sidebar {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 101%;
    height: 100vh;
    background: #FFFFFF;
    position: absolute;
    top: 72px;
    right: -2px;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* ------------------------------- menu mobile ------------------------------ */
  .header__menu {
    height: 15rem;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  /* ------------------------- buttons in menu mobile ------------------------- */
  .header__buttons {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__buttons .header__button {
    margin-top: 20px;
  }
  /* ----------------------------- toggle bar menu ---------------------------- */
  .header__toggle {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: auto;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__toggle .header__togglebar, .header__toggle .header__togglebar:after, .header__toggle .header__togglebar:before {
    width: 25px;
    height: 3px;
    display: block;
    content: "";
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header__toggle .header__togglebar, .header__toggle .header__togglebar:after, .header__toggle .header__togglebar:before {
    background: black;
  }
  .header__toggle .header__togglebar:after {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  .header__toggle .header__togglebar:before {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  /* -------------------------- show the menu mobile -------------------------- */
  .active .header__togglebar {
    background: transparent;
  }
  .active .header__togglebar:after, .active .header__togglebar:before {
    background: black;
  }
  .active .header__togglebar:after {
    -webkit-transform: translateY(-3px) rotate(45deg);
            transform: translateY(-3px) rotate(45deg);
  }
  .active .header__togglebar:before {
    -webkit-transform: translateY(0px) rotate(-45deg);
            transform: translateY(0px) rotate(-45deg);
  }
}/*# sourceMappingURL=nav.css.map */