@use '../../additional_styles/colors/colors' as *;
@use '../../additional_styles/object/_object.scss' as *;

/* -------------------------------------------------------------------------- */
/*                                   header                                   */
/* -------------------------------------------------------------------------- */

.header{
    @include mainGrid();
    position: fixed;
    background: $c_white;
    
    .header__wrap{     
        margin: 0 20px;  
        display: grid;
        grid-template-columns: 20% 80%;
        align-items: center;
    }    

    .header__logo{ height: 85%; }

    &__item{
        font-size: 16px;
        color: $cT_gray;
        &_active, &:hover{
            color: $c_red;
        }
    }

    &__button{
        font-size: 14px;   
        
        &_active{            
            @include Button(170px, $c_red, $c_red, $c_white);
            &::before{
                display: block;
                content: url('../img/hash.svg');
                margin: 5px 10px 0 0;
            }
        }
        &:last-child{            
            @include Button(170px, $c_white, $cT_gray, $cT_gray);
        }
    }

}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------------------------------------------------- */

/* ---------------------------- min-width: 910px ---------------------------- */
@media screen and (min-width: 910px){
    .header__wrap{ height: 100px;}
    .header__sidebar{
        @include Flex(row, space-between, center);
    }
    .header__menu{ width: 400px;}
    
    .header__menu{
        @include Flex(row, space-between, center);
    }
    .header__buttons{
        @include Flex(row, flex-end, center);

        .header__button{ margin-left: 20px;}
    }
    .header__toggle{ display: none;}
}

/* ---------------------------- max-width: 909px ---------------------------- */
@media screen and (max-width: 909px){
    .header{        
        border: 2px solid $c_gray;
    }
    .header__wrap{ height: 70px; }
    .header__sidebar{
        transition: all 0.3s ease;
        width: 101%;
        height: 100vh;
        background: $c_white;
        position: absolute;
        top: 72px;
        right: -2px;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    /* ------------------------------- menu mobile ------------------------------ */
    .header__menu{
        height: 15rem;
        @include Flex(column, space-evenly, center);
    }
    /* ------------------------- buttons in menu mobile ------------------------- */
    .header__buttons{
        @include Flex(column, flex-end, center);
        .header__button{ margin-top: 20px;}
    }


    /* ----------------------------- toggle bar menu ---------------------------- */
    .header__toggle{
        display: block;
        width: 40px;
        height: 40px;
        margin-left: auto;
        @include Flex(column, center, center);
        transition: all 0.3s ease;

        .header__togglebar, .header__togglebar:after, .header__togglebar:before{
            width: 25px;
            height: 3px;
            display: block;
            content: '';
            transition: all 0.3s ease;
        }

        .header__togglebar, .header__togglebar:after, .header__togglebar:before{
            background: black;
        }
        .header__togglebar:after{
            transform: translateY(3px);
        }
        .header__togglebar:before{
            transform: translateY(-6px);
        }
    }

    /* -------------------------- show the menu mobile -------------------------- */
    .active{
        .header__togglebar{ background: transparent;}
        .header__togglebar:after, .header__togglebar:before{
            background: black;
        }
        .header__togglebar:after{
            transform: translateY(-3px) rotate(45deg);
        }
        .header__togglebar:before{
            transform: translateY(0px) rotate(-45deg);
        }
    }
    
}