//************** COLORS | SHADOWS **************//

//? c_ = (is) COLOR
//? cT_ = (is) COLOR OF TEXT
//? s_ = (is) SHADOW  

//************** COLORS **************//
$c_white: #FFFFFF;
$c_gray: #F2F2F2;
$cT_gray: #58595B;
$c_red: #E04E39;
$c_black: #000000;
$c_lightRed: #C39367;


//************** SHADOWS **************//
$s_gray: 0px 0px 50px rgba(23, 66, 84, 0.2);